
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
test/**/*.mocks.dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# ignore coverage related
coverage/
